html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("https://vsegda-pomnim.com/uploads/posts/2023-03/1679105849_vsegda-pomnim-com-p-almaznie-kareri-foto-55.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

button:focus-visible {
  outline: none;
}

.mine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
  height: 650px;
  background: rgba(180, 180, 255, 0.775);
  border-radius: 15%;
  gap: 1vw;
}
.mine #btn_shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
.mine #btn_shop button {
  font-size: 28px;
  font-weight: normal;
  padding: 5px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background: rgb(44, 148, 161);
  transition: 0.2s ease-in;
}
.mine #btn_shop button:hover {
  font-size: 32px;
  background: rgb(44, 95, 161);
}
.mine #btn_shop #bye_all {
  font-size: 32px;
  font-weight: bold;
  background: rgb(161, 44, 116);
}
.mine #btn_shop #bye_all:hover {
  font-size: 36px;
  background: rgb(138, 44, 161);
}
.mine #btn_shop .bye_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.mine #btn_shop .bye_items h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mine #btn_shop .bye_items img {
  width: 27.5px;
  height: 27.5px;
  object-fit: cover;
}
.mine #btn_shop .bye_items .count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mine #btn_shop .bye_items .count h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgb(44, 148, 161);
}
.mine #btn_shop .bye_items .count button {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mine #btn_shop .bye_items .count button:hover {
  font-size: 28px;
}
.mine #btn_shop .bye_items .count .minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mine #btn_shop .bye_items .count .plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mine button {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background: rgb(112, 47, 171);
  transition: 0.2s ease-in;
}
.mine button:hover {
  font-size: 34px;
  background: rgb(38, 55, 246);
}
.mine #output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mine .farm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  align-items: start;
  margin-left: 50px;
  margin-top: 2vw;
}
.mine .farm .plus_ore {
  position: absolute;
  z-index: 3;
  font-size: 24px;
}
.mine .farm .plus_ore.active {
  opacity: 0;
  animation: plusOre;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.mine .farm .rock {
  position: relative;
  z-index: 1;
  width: 150px;
  height: 150px;
  background: transparent;
  padding: 0;
}
.mine .farm .rock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mine .farm .pickaxe {
  position: relative;
  z-index: 2;
  transform: translateX(-50px);
  width: 50px;
  height: 50px;
}
.mine .farm .pickaxe img {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mine .farm .pickaxe.active {
  animation: pickaxeWork;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes pickaxeWork {
  0% {
    transform: rotateZ(0deg) translate(-50px, -50px);
  }
  25% {
    transform: rotateZ(30deg) translateX(-50px);
  }
  50% {
    transform: rotateZ(-45deg) translateX(-50px);
  }
  100% {
    transform: rotateZ(0deg) translateX(-50px);
  }
}
@keyframes plusOre {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(150px, -100px);
    opacity: 0;
  }
}

/*# sourceMappingURL=mine.css.map */
